* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 8rem;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.navbar-link:hover {
  background-color: #555;
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
}
